.App {
  text-align: center;
  min-width: 1020px;
  max-width: 1445px;
  display: block;
  margin: auto;
}

.body {
  background-color: #e2e2e2;
  background-size: auto;
  background-repeat:no-repeat;
  background-position: bottom;
}

.Records {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}