.App {
  text-align: center;
}

.card {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-text {
  text-align: left;
  font-size: 11px;
}

.Records {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}