.viewTypeButton {
    margin: 5px;
}

.viewTypeButton.btn-outline-primary {
    --bs-btn-color: black;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: brown;
    --bs-btn-hover-bg: none;
    --bs-btn-active-bg: brown;
}