.btn-primary {
    --bs-btn-color: #6e361e;
    --bs-btn-bg: none;
    --bs-btn-border-color: none;
    --bs-btn-hover-color: none;
    --bs-btn-active-bg: #6e361e;
}

.btn {
    --bs-btn-border-radius: none;
}